@media (max-width: 1250px) {
   .featured__stories {
      width: 57%;
   }
}

@media (max-width: 991px) {
   .first__container {
      padding-top: 150px;
   }

   .first__title {
      font-size: 70px;
   }

   .search-form {
      width: 55%;
   }

   .become {
      padding: 80px 0;
   }

   .become__list {
      margin-bottom: 80px;
   }

   .section-title {
      font-size: 50px;
   }



}